name: todoapp_project
trigger: none

pool: todoapp_project


variables:
  work_dir: '$(System.DefaultWorkingDirectory)/environment'
  S_conn: 'todoapp_project'


parameters:
  - name: environment
    displayName: environment selection
    type: string
    default: prod
    values:
      - prod
      - dev



stages:

# -------------------------
# Stage 1: Static analysis
# -------------------------
- stage: StaticAnalysis
  displayName: "Static analysis (tflint, tfsec, checkov, trivy)"
  jobs:
  - job: StaticAnalysisJob
    displayName: "Run IaC lint & security scans"
    steps:
      - checkout: self

      # -------------------
      # TFLint
      # -------------------
      - task: PowerShell@2
        displayName: "Run tflint"
        continueOnError: true
        inputs:
          targetType: 'inline'
          script: |
            tflint -f junit -o tflint-out.xml
          workingDirectory: '$(work_dir)/${{ parameters.environment }}'

      - task: PublishTestResults@2
        displayName: "Publish TFLint Results"
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: 'tflint-out.xml'
          searchFolder: '$(work_dir)/${{ parameters.environment }}'
          testRunTitle: 'TFLint'


      # -------------------
      # TFSEC
      # -------------------
      - task: PowerShell@2
        displayName: "Run tfsec"
        continueOnError: true
        inputs:
          targetType: 'inline'
          script: |
            tfsec --format junit --out tfsec-out.xml
          workingDirectory: '$(work_dir)/${{ parameters.environment }}'

      - task: PublishTestResults@2
        displayName: "Publish TFSEC Results"
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: 'tfsec-out.xml'
          searchFolder: '$(work_dir)/${{ parameters.environment }}'
          testRunTitle: 'TFSEC'


      # -------------------
      # CHECKOV
      # -------------------
      - task: PowerShell@2
        displayName: "Run Checkov"
        continueOnError: true
        inputs:
          targetType: 'inline'
          script: |
            checkov -d . -o junitxml --output-file-path checkov-out.xml
          workingDirectory: '$(work_dir)/${{ parameters.environment }}'

      - task: PublishTestResults@2
        displayName: "Publish Checkov Results"
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: 'checkov-out.xml'
          searchFolder: '$(work_dir)/${{ parameters.environment }}'
          testRunTitle: 'Checkov'


      # -------------------
      # TRIVY (Filesystem scan)
      # -------------------
      - task: PowerShell@2
        displayName: "Run Trivy FS Scan"
        continueOnError: true
        inputs:
          targetType: 'inline'
          script: |
            trivy fs --format junit --output trivy-out.xml .
          workingDirectory: '$(work_dir)/${{ parameters.environment }}'

      - task: PublishTestResults@2
        displayName: "Publish Trivy Results"
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: 'trivy-out.xml'
          searchFolder: '$(work_dir)/${{ parameters.environment }}'
          testRunTitle: 'Trivy'


# -------------------------------
# Stage 2: Terraform Init + Plan
# -------------------------------
- stage: Plan
  displayName: "Terraform Init & Plan"
  dependsOn: StaticAnalysis
  jobs:
  - job: PlanJob
    displayName: "Run Terraform Init & Plan"
    steps:
      - checkout: self
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: $(work_dir)/${{ parameters.environment }}
          backendServiceArm: 'todoapp_project'
          backendAzureRmStorageAccountName: 'backend22'
          backendAzureRmContainerName: 'todoappinfra'
          backendAzureRmKey: 'prod_todoapp.tfstate'
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'plan'
          workingDirectory: $(work_dir)/${{ parameters.environment }}
          environmentServiceNameAzureRM: 'todoapp_project'

# # --------------------------------
# # Stage 3: Infracost Cost Analysis
# # --------------------------------
# - stage: CostAnalysis
#   displayName: "Infracost Cost Estimation"
#   dependsOn: Plan
#   jobs:
#   - job: CostJob
#     displayName: "Run Infracost"
#     steps:
#       - checkout: self      
#       - download: current
#         artifact: terraform-plan

      
#       - task: PowerShell@2
#         displayName: "Run Infracost Breakdown"
#         inputs:
#          targetType: 'inline'
#          script: |
#           cd "$(Pipeline.Workspace)/terraform-plan"

#           infracost breakdown `
#            --path plan.json `
#            --format html `
#            --out-file infracost.html

#            if ($LASTEXITCODE -ne 0) { exit 0 }

#       - task: PublishPipelineArtifact@1
#         displayName: "Upload Infracost Report"
#         inputs:
#           targetPath: '$(Pipeline.Workspace)\terraform-plan\infracost.html'
#           artifact: 'infracost-report'
          
