name: todoapp_project
trigger: none
pool: todoapp_project

parameters:
  - name: environment
    displayName: environment selection
    type: string
    default: prod
    values:
      - prod
      - dev

variables:
  work_dir: '$(System.DefaultWorkingDirectory)/environment'
  S_conn: 'todoapp_project'

stages:

# -------------------------
# Stage 1: Static analysis
# -------------------------
- stage: StaticAnalysis
  displayName: "Static analysis (tflint, tfsec, checkov, trivy)"
  jobs:
  - job: StaticAnalysisJob
    displayName: "Run IaC lint & security scans"
    steps:
      - checkout: self

      # TFLint ------------
      - task: PowerShell@2
        displayName: "Run TFLint"
        inputs:
          targetType: 'inline'
          script: |
            cd "$(work_dir)\${{ parameters.environment }}"
            tflint --recursive

      # tfsec -------------
      - task: PowerShell@2
        displayName: "Run tfsec"
        inputs:
          targetType: 'inline'
          script: |
            cd "$(work_dir)\${{ parameters.environment }}"
            tfsec .

      # Checkov -----------
      - task: PowerShell@2
        continueOnError: true
        displayName: "Run Checkov"
        inputs:
         targetType: 'inline'
         script: |
          cd "$(work_dir)\${{ parameters.environment }}"
          checkov -d .
          if ($LASTEXITCODE -ne 0) { exit 0 }

      # Trivy -------------
      - task: PowerShell@2
        continueOnError: true
        displayName: "Run Trivy"
        inputs:
         targetType: 'inline'
         script: |
          cd "$(work_dir)\${{ parameters.environment }}"
          trivy fs . --skip-db-update --skip-java-db-update --offline-scan --security-checks vuln
          if ($LASTEXITCODE -ne 0) { exit 0 }


# -------------------------------
# Stage 2: Terraform Init + Plan
# -------------------------------
- stage: Plan
  displayName: "Terraform Init & Plan"
  dependsOn: StaticAnalysis
  jobs:
  - job: PlanJob
    displayName: "Run Terraform Init & Plan"
    steps:

      - task: PowerShell@2
        displayName: "Terraform Init"
        inputs:
          targetType: 'inline'
          script: |
            cd "$(work_dir)\${{ parameters.environment }}"
            terraform init

      - task: PowerShell@2
        displayName: "Terraform Plan"
        inputs:
          targetType: 'inline'
          script: |
            cd "$(work_dir)\${{ parameters.environment }}"
            terraform plan -out tfplan.binary
            terraform show -json tfplan.binary > plan.json
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'plan'
          publishLocation: 'Container'

      # - task: PublishBuildArtifacts@1
      #   displayName: "Upload Plan Files"
      #   inputs:
      #     PathtoPublish: '$(work_dir)\${{ parameters.environment }}'
      #     ArtifactName: 'terraform-plan'


# --------------------------------
# Stage 3: Infracost Cost Analysis
# --------------------------------
- stage: CostAnalysis
  displayName: "Infracost Cost Estimation"
  dependsOn: Plan
  jobs:
  - job: CostJob
    displayName: "Run Infracost"
    steps:
      - task: DownloadBuildArtifacts@1
        inputs:
          buildType: 'specific'
          project: '238bf90e-19f3-4345-848c-2ffe8cd3cb39'
          pipeline: '8'
          buildVersionToDownload: 'latest'
          downloadType: 'specific'
          itemPattern: '**.jason'
          downloadPath: '$(System.ArtifactsDirectory)'
      # - checkout: self
      # - task: DownloadBuildArtifacts@0
      #   displayName: "Download Terraform Plan Artifact"
      #   inputs:
      #     buildType: 'current'
      #     downloadType: 'single'
      #     artifactName: 'terraform-plan'
      #     downloadPath: '$(System.DefaultWorkingDirectory)'
      - task: PowerShell@2
        displayName: "Run Infracost Breakdown"
        inputs:
          targetType: 'inline'
          script: |
            cd '$(work_dir)\${{ parameters.environment }}'
            infracost breakdown --path '$(System.ArtifactsDirectory)' plan.json --format html --out-file infracost.html
            if ($LASTEXITCODE -ne 0) { exit 0 }

      - task: PublishBuildArtifacts@1
        displayName: "Upload Infracost Report"
        inputs:
          PathtoPublish: '$(work_dir)\${{ parameters.environment }}\infracost.html'
          ArtifactName: 'infracost-report'