name: todoapp_project
trigger: none
pool: todoapp_project

parameters:
  - name: environment
    displayName: environment selection
    type: string
    default: prod
    values:
      - prod
      - dev

variables:
  work_dir: '$(System.DefaultWorkingDirectory)/environment'
  S_conn: 'todoapp_project'

stages:
# -------------------------
# Stage 1: Static analysis
# -------------------------
- stage: StaticAnalysis
  displayName: "Static analysis (tflint, tfsec, checkov, trivy)"
  jobs:
  - job: StaticAnalysisJob
    displayName: "Run IaC lint & security scans"
    steps:
      - checkout: self
      - script: |
          echo "OS: $env:OS"
        displayName: "Check OS"


      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: |
            cd "$(work_dir)\${{ parameters.environment }}"
            tflint --recursive