name: todoapp_project
trigger: none
pool: todoapp_project

parameters:
  - name: environment
    displayName: environment selection
    type: string
    default: prod
    values:
      - prod
      - dev

variables:
  work_dir: '$(System.DefaultWorkingDirectory)/environment'
  S_conn: 'todoapp_project'

stages:
# -------------------------
# Stage 1: Static analysis
# -------------------------
- stage: StaticAnalysis
  displayName: "Static analysis (tflint, tfsec, checkov, trivy)"
  jobs:
  - job: StaticAnalysisJob
    displayName: "Run IaC lint & security scans"
    steps:
      - checkout: self

      # TFLint ------------
      - task: PowerShell@2
        displayName: "Run TFLint"
        inputs:
          targetType: 'inline'
          script: |
            cd "$(work_dir)\${{ parameters.environment }}"
            tflint --recursive

      # tfsec -------------
      - task: PowerShell@2
        displayName: "Run tfsec"
        inputs:
          targetType: 'inline'
          script: |
            cd "$(work_dir)\${{ parameters.environment }}"
            tfsec .

      # Checkov -----------
      - task: PowerShell@2
        continueOnError: true
        displayName: "Run Checkov"
        inputs:
         targetType: 'inline'
         script: |
          cd "$(work_dir)\${{ parameters.environment }}"
          checkov -d .
          if ($LASTEXITCODE -ne 0) { exit 0 }

      # Trivy -------------
      - task: PowerShell@2
        continueOnError: true
        displayName: "Run Trivy"
        inputs:
         targetType: 'inline'
         script: |
          cd "$(work_dir)\${{ parameters.environment }}"
          trivy fs . --skip-db-update --skip-java-db-update --offline-scan --security-checks vuln
          if ($LASTEXITCODE -ne 0) { exit 0 }