name: todoapp_project
trigger: none
pool: todoapp_project

parameters:
  - name: environment
    displayName: environment selection
    type: string
    default: prod
    values:
      - prod
      - dev

variables:
  work_dir: '$(System.DefaultWorkingDirectory)/environment'
  S_conn: 'todoapp_project'

stages:

# -------------------------
# Stage 1: Static analysis
# -------------------------
- stage: StaticAnalysis
  displayName: "Static analysis (tflint, tfsec, checkov, trivy)"
  jobs:
  - job: StaticAnalysisJob
    displayName: "Run IaC lint & security scans"
    steps:
      - checkout: self

      # TFLint ------------
      - task: PowerShell@2
        displayName: "Run tflint"
        inputs:
          targetType: 'inline'
          script: |
           tflint -f junit > $(Build.ArtifactStagingDirectory)/tflint.xml

      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'tflint'
          publishLocation: 'Container'



      # tfsec -------------
      - task: PowerShell@2
        displayName: "Run tfsec"
        inputs:
          targetType: 'inline'
          script: |
           cd "$(work_dir)/${{ parameters.environment }}"
           tfsec . -o junit > tfsec.xml



      # Checkov -----------
      - task: PowerShell@2
        continueOnError: true
        displayName: "Run Checkov"
        inputs:
         targetType: 'inline'
         script: |
          cd "$(work_dir)/${{ parameters.environment }}"
          checkov -d . --format junit --out tfsec.xml
          if ($LASTEXITCODE -ne 0) { exit 0 }

      # Trivy -------------
      - task: PowerShell@2
        continueOnError: true
        displayName: "Run Trivy"
        inputs:
         targetType: 'inline'
         script: |
          cd "$(work_dir)/${{ parameters.environment }}"
          trivy fs . --skip-db-update --skip-java-db-update --offline-scan --security-checks vuln
          if ($LASTEXITCODE -ne 0) { exit 0 }


# -------------------------------
# Stage 2: Terraform Init + Plan
# -------------------------------
- stage: Plan
  displayName: "Terraform Init & Plan"
  dependsOn: StaticAnalysis
  jobs:
  - job: PlanJob
    displayName: "Run Terraform Init & Plan"
    steps:
      - checkout: self

      - task: PowerShell@2
        displayName: "Terraform Init"
        inputs:
          targetType: 'inline'
          script: |
            cd "$(work_dir)/${{ parameters.environment }}"
            terraform init

      - task: PowerShell@2
        displayName: "Terraform Plan"
        inputs:
          targetType: 'inline'
          script: |
            cd "$(work_dir)/${{ parameters.environment }}"
            terraform plan -out tfplan.binary
            terraform show -json tfplan.binary > plan.json

      
      - task: PublishPipelineArtifact@1
        displayName: "Publish Terraform Plan JSON"
        inputs:
          targetPath: '$(work_dir)/${{ parameters.environment }}\plan.json'
          artifact: 'terraform-plan'
          

# --------------------------------
# Stage 3: Infracost Cost Analysis
# --------------------------------
- stage: CostAnalysis
  displayName: "Infracost Cost Estimation"
  dependsOn: Plan
  jobs:
  - job: CostJob
    displayName: "Run Infracost"
    steps:
      - checkout: self      
      - download: current
        artifact: terraform-plan

      
      - task: PowerShell@2
        displayName: "Run Infracost Breakdown"
        inputs:
         targetType: 'inline'
         script: |
          cd "$(Pipeline.Workspace)/terraform-plan"

          infracost breakdown `
           --path plan.json `
           --format html `
           --out-file infracost.html

           if ($LASTEXITCODE -ne 0) { exit 0 }

      - task: PublishPipelineArtifact@1
        displayName: "Upload Infracost Report"
        inputs:
          targetPath: '$(Pipeline.Workspace)\terraform-plan\infracost.html'
          artifact: 'infracost-report'
          
